button.buttonChangeColor:hover {
    color:  #FF4500;
    text-shadow: 0 0 1px  #FF4500;
}
a.buttonChangeColor:hover {
    color:  #c1946a;
    text-shadow: 0 0 1px  #c1946a;
}
#mapid {
    width: 100%;
    height: 100vh;
}
map_shop_img {
    display: block;
    margin-left: 0;
    margin-right: 0;
}
map_shop_title {

}
.leaflet-popup-content-wrapper {
    width:115px;
    background-color: #ffffff;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    width:95px;
    background-color: #ffffff;
}

.leaflet-popup-tip-container {

}

.leaflet-popup-content {
    margin-left: 10px;
    margin-right: 2px;
    margin-top: 4px;
    margin-bottom: 2px;
    /*Размер текста*/
    font-weight: bold;
    font-size: 11px;
    opacity: 100%;
    color: #100e0e;
    width:120px;
}
/*
HEX: #b9936c
HEX: #dac292
HEX: #e6e2d3
HEX: #c4b7a6
HEX: #d5f4e6
HEX: #80ced6
HEX: #fefbd8
HEX: #618685
HEX: #c1946a
HEX: #3e4444
*/